---

- name: download etcd packages
  unarchive:
    src: https://github.com/etcd-io/etcd/releases/download/v3.4.10/etcd-v3.4.10-linux-amd64.tar.gz
    dest: /tmp
    remote_src: yes
  environment:
    http_proxy: "{{ http_proxy | default('') }}"
    https_proxy: "{{ https_proxy | default('') }}"

- name: move etcd to local/bin
  shell:
    cmd: mv /tmp/etcd-v3.4.10-linux-amd64/* /usr/local/bin/

- name: create related folders for etcd
  file:
    path: "{{ item }}"
    state: directory
    mode: '0700'
  with_items:
    - /etc/etcd
    - /var/lib/etcd

- name: copy certificates to destination
  copy:
    src: /root/{{ item }}
    dest: /etc/etcd/{{ item }}
    mode: '0644'
    remote_src: yes
  with_items:
    - ca.pem
    - kubernetes.pem
    - kubernetes-key.pem

- name: distribute Configurations
  template:
    src: etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    mode: '0644'
    backup: yes

- name: reload systemd service
  systemd:
    daemon_reload: yes

- name: start etcd service
  systemd:
    name: etcd
    state: started
    enabled: yes
